.idea/
.vscode/
build/
firebase_options.dart
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
ios/
web/
windows/
macos/
linux/
android/.gradle/
android/app/build/
android\app\google-services.json
android/app/google-services.json
ios\Runner\GoogleService-Info.plist
ios/Runner/GoogleService-Info.plist
macos\Runner\GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist